PORT=5000
MONGODB_URI=mongodb://sagardb:1122Sagar@ac-y4mgnko-shard-00-00.komhyhs.mongodb.net:27017,ac-y4mgnko-shard-00-01.komhyhs.mongodb.net:27017,ac-y4mgnko-shard-00-02.komhyhs.mongodb.net:27017/interntrack?ssl=true&replicaSet=atlas-9k8psn-shard-0&authSource=admin

#mongodb+srv://sagardb:1122Sagar@cluster0.komhyhs.mongodb.net/interntrack

#mongodb+srv://sagardb:SagarDbsss1122@cluster0.kopawwh.mongodb.net/?appName=Cluster0

#mongodb://sagardb:SagarDbsss1122@ac-acn3p7z-shard-00-00.kopawwh.mongodb.net:27017,ac-acn3p7z-shard-00-01.kopawwh.mongodb.net:27017,ac-acn3p7z-shard-00-02.kopawwh.mongodb.net:27017/?ssl=true&replicaSet=atlas-n0hpqv-shard-0&authSource=admin&appName=Cluster0


JWT_SECRET=sagarsupesecret123
JWT_EXPIRE=7d
NODE_ENV=development


EMAIL_USER=sagarmugesh10@gmail.com
EMAIL_PASS=zzfi qint ilkf ylvo   
# mail id message send :sagarmugesh10@gmail.com



# admin mail :sagar12345@gmail.com
# admin password :Sagarmail@123
# mongodb login mail :sagarmugesh10@gmail.com